@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
.titles {
    font-family: 'Merriweather', serif;
}

.navigation {
    color: rgb(2, 42, 128);
}

.navigation:hover {
    text-decoration: none;
    color: rgb(44, 178, 211);
}

.listaSugerencia {
    list-style: none;
}

.autorMini {
    width: 6rem;
    height: 6rem;
}

.customCard {
    box-shadow: 0rem 0rem 1rem rgb(177, 177, 177);
    border-radius: 0.5rem;
    background: rgb(255, 255, 255);
    background: linear-gradient(150deg, rgba(255, 255, 255, 1) 40%, rgb(216, 216, 216) 100%);
}

.itemAnimation {
    transition: 200ms;
}

.itemAnimation:hover {
    scale: 1.05;
}